@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


body {
  background-color:#cba07a !important; /* Light blue background */
}

.new-prof {
  background-color:#cba07a !important; /* Matches the body color */
  padding: 20px;
}

.container {
  margin-top: 20px;
  background-color:#ccccbb !important; /* Replace with your desired color */
  font-family: Raleway;
  border-radius: 14px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #000; /* Adjust color as needed */
  box-sizing: border-box; /* Ensures border is part of dimensions */
}

.edit-image {
  background-color: #312c32;
}

.text-center button {
  margin-top: 10px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Raleway;
}

.form-group label {
  font-weight: bold;
  font-family: Raleway;
}

.form-control {
  border-radius: 5px;
}

.button {
  margin-top: 15px;
  font-size: 1rem;
  font-family: Raleway;
}

.offcanvas {
  width: 250px;
  background-color: #ccccbb;
}

.hidden-menu {
  background-color:#312c32;
  border: none;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.me-2 {
  color: #cba07a;
  font-size: 20px;
  background-color:#fff1de;
  border: 2px solid #cba07a; /* Circular border */
  border-radius: 50%; /* Makes the shape circular */
  padding: 6px; /* Adjust padding to control circle size */
  display: inline-flex; /* Centers the icon inside the circle */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  width: 40px; /* Sets a fixed width for the circle */
  height: 40px; /* Sets a fixed height for the circle */
  box-sizing: border-box; /* Ensures padding and border don’t exceed the element's dimensions */
}

.push-menu {
  color: #312c32;
  text-decoration: none;
  font-family: 'Raleway';
}

.push-menu:hover {
  color: #fff1de; /* Changes text color on hover */
}

.logout-menu {
  color: brown;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Raleway';
}

.logout-menu:hover {
  color: #fff1de; /* Changes text color on hover */
}

