@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


body {
  background-color: #4187c5 !important; /* Light blue background */
}

.new-prof {
  background-color: #2d7abe !important; /* Matches the body color */
  padding: 20px;
}

.container {
  margin-top: 20px;
  background-color: #2c6495 !important; /* Replace with your desired color */
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.text-center button {
  margin-top: 10px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.button {
  margin-top: 15px;
  font-size: 1rem;
}

.offcanvas {
  width: 250px;
  background-color: #ccccbb;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.me-2 {
  color: #cba07a;
  font-size: 24px;
}

.push-menu {
  color: #312c32;
  text-decoration: none;
  font-family: 'Raleway';
}